**loc & iloc**

loc: This is used for selection by label or index name

iloc: This is used for selection by integer index. In this case, you provide an integer index for the row and/or column you want to select.

In [ ]:
# Pandas
# loc & iloc

In [5]:
import pandas as pd

In [42]:
data_2 = pd.Series([0.25, 0.50, 0.75, 1], index=[2, 5, 3, 7])

In [43]:
data_2.loc[3] # explicit slinking

0.75

In [10]:
data_2[2:3] # implicit slinking

3    0.75
dtype: float64

In [ ]:
# iloc

In [11]:
data_2.iloc[3]

1.0

In [12]:
data_2.iloc[2:3]

3    0.75
dtype: float64

In [ ]:
# Task 1

In [30]:
data = pd.Series([0.65, 3, 0.85, 1, 2], index=[2, 5, 3, 7, 10])

In [31]:
data

2     0.65
5     3.00
3     0.85
7     1.00
10    2.00
dtype: float64

In [32]:
data.loc[3] # Explicit

0.85

In [33]:
data.iloc[3] # Implicit

1.0

In [29]:
data[0]

KeyError: 0

Dictionary is a type of data in the Python programming language used to store mutable (changeable) and non-sequential data collections.

In [ ]:
# Dict

In [6]:
dict_populasi = {'Jakarta':750,
                 'Bogor':490,
                 'Depok':350,
                 'Tanggerang':270,
                 'Bekasi':670}

In [7]:
populasi = pd.Series(dict_populasi)

In [8]:
populasi

Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
dtype: int64

In [9]:
populasi.loc['Depok']

350

In [10]:
populasi.iloc[2]

350

In [11]:
# Task 2

In [12]:
nama = {
    'nama': 'Ahmad',
    'usia': 30,
    'kota': 'Medan'
}

In [13]:
nama = pd.Series(nama)

In [14]:
nama

nama    Ahmad
usia       30
kota    Medan
dtype: object

In [15]:
nama.loc['nama']

'Ahmad'

In [16]:
nama.iloc[0]

'Ahmad'

In [17]:
# Advanced Dict

In [18]:
dict_luas = {'Jakarta':750,
                 'Bogor':490,
                 'Depok':350,
                 'Tanggerang':270,
                 'Bekasi':670}

In [19]:
luas = pd.Series(dict_luas)

In [20]:
dict_luas

{'Jakarta': 750, 'Bogor': 490, 'Depok': 350, 'Tanggerang': 270, 'Bekasi': 670}

In [21]:
luas

Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
dtype: int64

In [22]:
# Data frame

DataFrame is a collection of data organized into two-dimensional tables, similar to spreadsheets or tables in a database.

In [23]:
daerah = pd.DataFrame({'pop': populasi, 'luas daerah': luas})

In [24]:
daerah

            pop  luas daerah
Jakarta     750          750
Bogor       490          490
Depok       350          350
Tanggerang  270          270
Bekasi      670          670

In [25]:
daerah['luas daerah']['Jakarta']

750

In [26]:
daerah.pop

<bound method DataFrame.pop of             pop  luas daerah
Jakarta     750          750
Bogor       490          490
Depok       350          350
Tanggerang  270          270
Bekasi      670          670>

In [27]:
daerah

            pop  luas daerah
Jakarta     750          750
Bogor       490          490
Depok       350          350
Tanggerang  270          270
Bekasi      670          670

In [30]:
daerah['luas daerah']['Depok']

350

In [29]:
luas.pop

<bound method Series.pop of Jakarta       750
Bogor         490
Depok         350
Tanggerang    270
Bekasi        670
dtype: int64>

In [ ]:
# Task 3

In [31]:
dict_buah = {'Melon':75,
                 'Jeruk':49,
                 'Alpukat':35,
                 'Mangga':27,
                 'Semangka':67}

In [32]:
buah = pd.Series(dict_buah)

In [33]:
buah

Melon       75
Jeruk       49
Alpukat     35
Mangga      27
Semangka    67
dtype: int64

In [34]:
harga_buah = {'Melon':15000,
                 'Jeruk':90000,
                 'Alpukat':35000,
                 'Mangga':20000,
                 'Semangka':60000}

In [35]:
harga = pd.Series(harga_buah)

In [36]:
harga

Melon       15000
Jeruk       90000
Alpukat     35000
Mangga      20000
Semangka    60000
dtype: int64

In [37]:
KG = {'Melon':15,
     'Jeruk':9,
     'Alpukat':3,
    'Mangga':20,
    'Semangka':10}

In [38]:
Satuan = pd.Series(KG)

In [39]:
KG

{'Melon': 15, 'Jeruk': 9, 'Alpukat': 3, 'Mangga': 20, 'Semangka': 10}

In [40]:
oleh_oleh = pd.DataFrame({'Isi': dict_buah, 'Jenis Buah': buah, 'Satuan (kg)': KG, 'Harga (Rp)': harga_buah})

In [41]:
oleh_oleh

          Isi  Jenis Buah  Satuan (kg)  Harga (Rp)
Melon      75          75           15       15000
Jeruk      49          49            9       90000
Alpukat    35          35            3       35000
Mangga     27          27           20       20000
Semangka   67          67           10       60000

In [42]:
oleh_oleh['Isi']['Mangga']

27

In [43]:
# Task 4 Rename the fruit and call loc &iloc

In [44]:
oleh_oleh = pd.DataFrame({'jumlah': dict_buah, 'Jenis Buah': buah, 'Satuan (kg)': KG, 'Harga (Rp)': harga_buah}) # rename jumlah

In [45]:
oleh_oleh

          jumlah  Jenis Buah  Satuan (kg)  Harga (Rp)
Melon         75          75           15       15000
Jeruk         49          49            9       90000
Alpukat       35          35            3       35000
Mangga        27          27           20       20000
Semangka      67          67           10       60000

In [46]:
oleh_oleh['jumlah']['Mangga': 'Semangka'] # explicit index

Mangga      27
Semangka    67
Name: jumlah, dtype: int64

In [47]:
oleh_oleh['jumlah'].iloc[1 : 5] # Implicit index

Jeruk       49
Alpukat     35
Mangga      27
Semangka    67
Name: jumlah, dtype: int64